@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CostumFont";
  src: url("/fonts/font.otf") format("truetype");
}

@layer base {
  body {
    background: #edebe3;
  }
}
